[neo4j]
ConnectionURL = "bolt://server.ip.address:port"
Username = "db username"
Password = "db password"

[bot]
Prefix = "bot prefix"
Token = "bot token"

[logging]
Webhook = "ID|TOKEN"
UptimeKuma = "Uptime kuma for uptime. Leave empty to disable."
